.header {
    background-color: rgb(255, 251, 217) !important;
    grid-area: h;
  }
  
  .header img {
    margin: 5px 0 5px 20px;
    width: 150px;
  }

.header-content {
    display: grid;

    grid-template-areas:
    "titleBar"
    "searchBar"
    "navBar";
    grid-template-rows: 30px 90px 50px;
    /* grid-template-columns: 1fr; */
}

.title-bar {
    grid-area: titleBar;
    background: rgb(317, 142, 70);
    border-radius: 4px;
    margin: 0 2px 0 2px;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .6);
    text-align: right;
}

.search-bar {
    grid-area: searchBar;

    display: grid;

    grid-template-areas:
    "logo search";
    grid-template-rows: 90px;
    grid-template-columns: 2fr 10fr;

    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .6);
    margin: 1px 10px 0 10px;
}

.search {
    margin-top: 30px;
    text-align: right;
}

.search input {
    margin: 0 5px 0 5px;
    border-radius: 4px;
    border-width: 1px;
}

.search .input-btn {
    width: 80px;
    border-width: 0px;
    margin: 2px 5px 0 3px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .6);
}

.nav-bar {
    grid-area: navBar;
    background: rgb(317, 142, 70);
    border-radius: 4px;
    margin: 0 2px 0 2px;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .6);
    text-align: center;
    align-self: normal;
    height: 50px;
} 

.title-btn {
    margin: 5px 5px 0 3px;
    position: relative;
    min-width: min-content;
    padding: 2px 15px 2px 15px ;
    text-decoration: none !important;
    border-width: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    
    background-color: rgba(255, 255, 255, 0.85);
    color: black;
    
    transition: background-color .3s;
}
  
.title-btn:hover, .title-btn:focus {
    background-color: rgba(317, 190, 70, .6);
  }
  
  .title-btn > * {
    position: relative;
  }
  
  .title-btn:before {
    content: "";
    
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    padding-top: 0;
      
    border-radius: 100%;
    
    background-color: rgba(236, 240, 241, .3);
  }
  
  .title-btn:active:before {
    width: 120%;
    padding-top: 120%;
    
    transition: width .2s ease-out, padding-top .2s ease-out;
  }
  
  /* Styles, not important */
  *, *:before, *:after {
    box-sizing: border-box;
  }

  .title-btn a {
    text-decoration: none;
  }

  .title-btn:active {
    color: inherit;
  }

  
.nav-btn {
  margin: 10px 5px 0 3px;
  position: inherit;
  min-width: min-content;
  padding: 5px 20px 5px 20px ;
  text-decoration: none !important;
  border-width: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: rgba(255, 255, 255, 0.85);

  color: black;
  
  transition: background-color .3s;
}

.nav-btn:hover, .nav-btn:focus {
  background-color: rgba(317, 190, 70, .6);
}

.nav-btn > * {
  position: relative;
}

.nav-btn:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
}

.nav-btn:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}

/* Styles, not important */
*, *:before, *:after {
  box-sizing: border-box;
}

.nav-btn a {
  text-decoration: none;
}