.admin-panel {
    background-color: rgb(255, 251, 217) !important;
    grid-area: h;
  }

.admin-panel-content {
    display: grid;

    grid-template-areas:
    "authorPanel"
    "bookPanel"
    "coverTypePanel"
    "interpreterPanel"
    "painterPanel"
    "publisherPanel"
    "painterStylePanel";
    grid-template-rows: 200px 440px 170px 220px 245px 195px 235px;
    /* grid-template-columns: 1fr; */
}

.author-panel {
    grid-area: authorPanel;
}

.book-panel {
    margin-top: 20px;
    grid-area: bookPanel;
}

.cover-type-panel {
    margin-top: 20px;
    grid-area: coverTypePanel;
}

.interpreter-panel {
    margin-top: 20px;
    grid-area: interpreterPanel;
}

.painter-panel {
    margin-top: 20px;
    grid-area: painterPanel;
}

.painter-style-panel {
    margin-top: 20px;
    grid-area: painterStylePanel;
}

.publisher-panel {
    margin-top: 20px;
    grid-area: publisherPanel;
}

.add-form {
    margin:  10px 3px 0 10px;
    padding: 5px 10px 5px 10px;
    width: max-content;
    border-radius: 5px;  
    box-shadow: 0 3px 5px rgba(0, 0, 0, .6);
}

.button {
    margin:  10px 3px 0 10px;
}

.input {
    padding: 5px 10px 5px 10px;
    border-width: 1px;
    margin-left: 10px;
    border-radius: 5px;  
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
}

h3 {
    margin:  10px 3px 10px 15px;
}

.select {
    padding: 4px;
    font-size: 13px;
    border-radius: 5px;
    margin-top: 5px;
}

.action-buttons {
    margin-top: 15px;
    text-align: end;
}