.nav {
    grid-area: n;
    background: rgba(475, 184, 0, 0.5);
    margin: 3px 0 0 3px;
    border-radius: 5px;  
    box-shadow: 0 3px 5px rgba(0, 0, 0, .6);
  }

  .div {
    font-style: italic;
    margin: 4px 0 10px 10px;
  }

  .div select{
    margin-top: 7px;
  }

  .select option{
    margin-top: 70px;
  }

  .some-title {
      font-weight: 700;
      font-style: normal;
  }